.login {
    background: url("../../../images/hamburger.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.signintextheader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.signintextbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: white;
}

.signinformmargin {
    position: absolute;
    top: 17%;
    padding: 20px;
    background: transparent;
    border: 1px solid #f7efef;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}

.signininputbox {
    background: transparent !important;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(247, 243, 243);
}

.signininputbox:focus {
    color: white;
}

input::placeholder {
    font-size: 1.2em;
    font-style: italic;
    color: white;
}

.eologo {
    height: 50px;
}

.navbar-items {
    margin-left: 3%;
    margin-right: 3%;
}