.eologo {
  height: 50px;
}

.navbar-items{
  margin-left: 3%;
  margin-right: 3%;
}

.signupemployee {   
  background:  white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
}

.empdiv {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.picture1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textheader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.textbody{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  color: black;
}

.formmargin{
  position: absolute;
  top: 12%;
  padding: 20px;
  background-color: rgb(250, 251, 252);
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.inputbox{
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid rgb(7, 7, 7);
}

input::placeholder {
  font-size: 1.2em;
  font-style: italic;
}

.signinbutton{
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}