
.signupuser {   
  background: url("../../../images/croissants.jpg");   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
}

.usersignuptextheader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.usersignuptextbody{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  color: white;
}

.usersignupformmargin{
  position: absolute;
  top: 17%;
  padding: 20px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.usersignupinputbox{
  background: transparent !important;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

.usersignupinputbox:focus{
  color: white;
}

input::placeholder {
  font-size: 1.2em;
  font-style: italic;
}



.eologo {
  height: 50px;
}

.navbar-items{
  margin-left: 3%;
  margin-right: 3%;
}