.cuisine-tabs{
    position: absolute;
    margin-top: 100px;
    width: 100%;
    height: 250px;
    left: 0px;

    background-color: #000000;
    display: inline-block;
    column-count: 5;
    column-gap: 20px;
    overflow-x: scroll;
}

.food-items {
    top: 500px;
    position: relative;
    display: inline-block;
    column-count: 3;
    column-fill: balance;
}

.name{
    position: relative;
    top: 500px;
    font-family: 'Domine';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    border-bottom: solid #000000;
    
}

